USE [master]
GO
/****** Object:  Database [Dropbox]    Script Date: 11.05.2017 8:15:39 ******/
CREATE DATABASE [Dropbox]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dropbox', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\Dropbox.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dropbox_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\Dropbox_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dropbox].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dropbox]
GO
USE [Dropbox]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 11.05.2017 8:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Comment] [nvarchar](max) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[Id_file] [uniqueidentifier] NOT NULL,
	[id_user] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Comments_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Files]    Script Date: 11.05.2017 8:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[Name] [nchar](10) NOT NULL,
	[Content] [image] NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[Owner] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Files_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SharingFIles]    Script Date: 11.05.2017 8:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SharingFIles](
	[Id_file] [uniqueidentifier] NOT NULL,
	[Id_user] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SharingFIles_1] PRIMARY KEY CLUSTERED 
(
	[Id_file] ASC,
	[Id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.05.2017 8:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [UK_Users] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Comments_1]    Script Date: 11.05.2017 8:15:39 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_1] ON [dbo].[Comments]
(
	[Id_file] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Files1] FOREIGN KEY([Id_file])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Files1]
GO
ALTER TABLE [dbo].[SharingFIles]  WITH CHECK ADD  CONSTRAINT [FK_SharingFIles_Files1] FOREIGN KEY([Id_file])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [dbo].[SharingFIles] CHECK CONSTRAINT [FK_SharingFIles_Files1]
GO
USE [master]
GO
